/* SCSS RGB */
/*
$sepia: rgba(114, 59, 13, 1);
$misty-rose: rgba(241, 222, 222, 1);
$black: rgba(1, 4, 0, 1);
$light-green: rgb(129, 184, 120);
$air-force-blue: rgba(75, 136, 162, 1); 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.div-vh {
  min-height: 100vh;
  overflow: hidden;
  background-color: rgba(241, 222, 222, 1);;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
}

.wrapper {
  position: relative;
  
  background-color: transparent;
  border: rgba(114, 59, 13, 1) solid 0.1rem;
  width: 55%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(114, 59, 13, 1) 0 0 25px;
  overflow: hidden;
  margin-bottom: 4rem;
}


/* ----------------------FOrm box  -------------------------------------- */
.wrapper .form-box {

  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column;

}
/* -----------------------FORM login ----------------------------------------*/
.wrapper .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;

}
.wrapper  .form-box.login .animation{
  transform: translateX(0);
  transition: 1.4s ease;
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(1s * var(--j));
}
.wrapper.active  .form-box.login .animation{
  transform: translateX(-200%);
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
  filter: blur(10px);
}

/* -------------------------FORM BOX REGISTER ----------------------------*/

.wrapper .form-box.register{
  right: 0;
  padding: 0 40px 0 60px;

}
.wrapper .form-box.register .animation{
  transform: translateX(200%);
  transition:  1s ease-in-out;
  opacity: 0;
  filter: blur(10px);

}

.wrapper.active .form-box.register .animation{
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
  
}

.form-box h2 {
  text-align: center;
  color: rgba(114, 59, 13, 1);

}
/* -----------------------------INPUT lOGIN/REGISTER ------------------------ */
.form-box .input-box {
  position: relative;
  width: 100%;
  height: 3.125rem;
  margin: 1.25rem 0rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 0.125rem rgba(114, 59, 13, 1) solid;
  transition: .5s;
  font-weight: 500;
  padding-right: 23px;
}

.input-box input:focus,
.input-box input:valid{
  border-bottom:  0.125rem rgb(129, 184, 120)solid;
}



.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1rem;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
  color: rgb(129, 184, 120);

}

.input-box svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-box input:focus~svg,
.input-box input:valid~svg{
  color: rgb(129, 184, 120);
}
/* -------------------------------BUTTON ---------------------------- */
.button {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid rgba(114, 59, 13, 1);
  outline: none;
  border-radius: 2.5rem;
  cursor: pointer;
  overflow: hidden;
}
.button:before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(rgba(241, 222, 222, 1), rgba(114, 59, 13, 1), rgba(241, 222, 222, 1), rgba(114, 59, 13, 1));
  z-index: -1;
  transition: .5s;
  
}

.button:hover:before {
  top: 0;
}

/* ----------------------------------TEXT AND LINK----------------------- */
.form-box .logreg-link {
  font-size: 14.5px;
  color: black;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p a {
  color: rgba(114, 59, 13, 1);
  text-decoration: none;
  font-weight: 600;
  
}

.logreg-link p a:hover {
  text-decoration: underline;
}


/*----------------------- INFO TEXT LOGIN-------------------------------- */
.wrapper .info-text {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.wrapper .info-text.login {
    right: 0; 
    text-align: right;
    padding: 0 40px 60px 150px;
    pointer-events: none;
    
}

.wrapper  .info-text.login .animation{
  transform: translateX(0);
  transition: 1s ease;
  opacity: 1;
  filter: blur(0);
}
.wrapper.active  .info-text.login .animation{
  transform: translateX(200%);
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
  filter: blur(10px);
}

.wrapper .info-text.login h2{
  text-transform: uppercase;
}

.wrapper  .form-box.login .animation{
  transform: translateX(0);
  transition: 0.7s ease;
  opacity: 1;
  filter: blur(0);
}
.wrapper.active  .form-box.login .animation{
  transform: translateX(-200%);
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
  filter: blur(10px);
}
/*---------------------------- INFO TEXT REGISTER -----------------------------------------*/
.wrapper .info-text.register {
  padding: 0 150px 60px 40px;
  left: 0; 
  text-align: left;
  pointer-events: none;
}
.wrapper .info-text.register h2{
  text-transform: uppercase;
}

.wrapper .info-text.register .animation{
  transform: translateX(-200%);
  transition: 1s ease-in-out;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(-0.1s * var(--j));
}

.wrapper.active .info-text.register .animation{
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}


/* ------------------------------triangulo---------------------------------------*/
.wrapper .span-wrapper{
  position: absolute;
  top: -4px;
  right: 0;
  height: 35rem;
  width: 50rem;
  background: linear-gradient(45deg,    rgba(241, 222, 222, 1), rgba(114, 59, 13, 1));
  transform: rotate(10deg) skewY(40deg);

  transform-origin: bottom right;
  border-bottom: rgba(114, 59, 13, 1)solid 0.1rem;
  pointer-events: none;
  transition: 0.6s ease;
  /* z-index: -1; */
  transition-delay: 0.2s;
}

.wrapper.active .span-wrapper{
    transform: rotate(0) skewY(0);
    transition-delay: 0.5s;
}


.wrapper .span-wrapper2{
  position: absolute;
  top: 100%;
  left: 200px;
  height: 43rem;
  width: 50rem;
  
  background:rgba(241, 222, 222, 1) ; 

  transform: rotate(0) skewY(0);
  transform-origin: bottom left;
  border-top: rgba(114, 59, 13, 1)solid 0.1rem;
  pointer-events: none;
  transition: 1s ease;
  /* z-index: -1; */
}
.wrapper.active .span-wrapper2{
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 0.8s;
}